{% extends "skeleton.html" %}
{% load i18n crispy_forms_tags %}

{% block base_content %}
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-1" >
                <a href="{% url 'home' %}" class="uk-icon-link" uk-icon="arrow-left">Index</a>
            </div>
            <div class="uk-width-1-1" >
                <h2 class="uk-margin-small">Crispy forms Uikit {{ uikit_version }} sample</h2>
                {% with packages_versions=view.get_versions %}
                    <span class="uk-label">django-crispy-forms {{ packages_versions.django_crispy_forms }}</span>
                    <span class="uk-label">crispy-forms-uikit {{ packages_versions.crispy_forms_uikit }}</span>
                {% endwith %}
            </div>
        </div>

        <hr>

        <a href="{% url 'demo:crispy-demo-form-fieldsets'%}" class="button{% block crispy_demo_menu_fieldsets_item %} secondary{% endblock %}">Form by fieldsets</a>
{#            {% if foundation_version == '5' %}<li>{% endif %}#}
{#                <a href="{% url 'demo:crispy-demo-form-accordions'%}" class="button{% block crispy_demo_menu_accordions_item %} secondary{% endblock %}">Form by accordions</a>#}
{#            {% if foundation_version == '5' %}</li>{% endif %}#}
{#            {% if foundation_version == '5' %}<li>{% endif %}#}
{#                <a href="{% url 'demo:crispy-demo-form-tabs'%}" class="button{% block crispy_demo_menu_tabs_item %} secondary{% endblock %}">Form by tabs</a>#}
{#            {% if foundation_version == '5' %}</li>{% endif %}#}

        {% crispy form %}
    </div>

    <hr/>

        <div class="uk-margin uk-width-1-1" type="column">
            <p class="uk-align-right">
                <button class="uk-button submit button success" id="submit-id-submit">Hello</button>
                <button class="uk-button reset" id="reset-id-cancel">There</button>
{#                <input type="button" name="dummy" value="Delete" class="uk-input button alert" id="button-id-dummy">#}
            </p>
        </div>

{% endblock %}
