{% extends "skeleton.html" %}

{% block base_content %}
<div class="uk-container uk-container-expand uk-padding-remove-left uk-padding-remove-right">

    <div uk-grid>

        <div class="uk-width-1-1">
            <h1>Sample project for crispy-forms-uikit</h1>
            <ul>
                <li><a href="{% url 'demo:crispy-demo-form-fieldsets' %}">Uikit</a></li>
{#                <li><a href="{% url 'demo:crispy-demo-form-fieldsets' %}">Uikit</a></li>#}
            </ul>
        </div>

    </div>

</div>
{% endblock %}
